@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --bg-sidebar: #f1f1f1;
}
body {
  font-family: "Roboto", sans-serif !important;
}

h2 {
  text-transform: uppercase;
}

.bg-sidebar {
  background-color: var(--bg-sidebar);
}

.sub-title h2 {
  color: #43464b;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}

.sub-title h2:last-child {
  opacity: 0.7;
}

.icon_g13{
  
}
