@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --bg-ticket: #f1f1f1;
  --color-secondary: #43464b;
  --color-primary: #f26b38;
}
body {
  font-family: "Roboto", sans-serif !important;
}

.container {
  margin: 20px 0px;
}

.sidebar {
  line-height: 16px;
  padding: 0 15px;
  color: var(--color-secondary);
}
.ticket {
  background-color: var(--bg-ticket);
  min-height: 500px;
  padding: 10px;
}

.ticket img {
  padding: 0 27px;
  width: 100%;
}
/* .ticket--header {
}
.ticket--detail {
} */
/* .ticket--detail__title {
  
} */

.ticket--detail__title h2 {
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0px;
}
.ticket--detail__icon {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.ticket--detail__icon .icon_c13 {
  background-image: url(../images/ic-c13.png);
  background-size: cover;
  display: inline-block;
  width: 28px;
  height: 22px;
}

.ticket--detail__icon .notice {
  font-size: 11px;
  line-height: 11px;
  color: #ff0033;
  margin: 0px;
  padding: 0 0 0 5px;
}

.ticket--detail__info p {
  font-size: 13px;
  line-height: 19.5px;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px dotted;
}
.ticket--detail__price-total p {
  padding: 10px 0;
  line-height: 24px;
}

.ticket--detail__price-total p span {
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary);
}
.ticket--detail__button {
  margin: 10px 0;
  display: flex;
}

.ticket--detail__button a {
  color: #ffffff;
  background-color: var(--color-primary);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  display: block;
  w
}
