@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --bg-ticket: #f1f1f1;
  --color-secondary: #43464b;
  --color-primary: #f26b38;
}
body {
  font-family: "Roboto", sans-serif !important;
}

.sidebar{
line
}
.ticket{}
.ticket--header{}
.ticket--detail{}
.ticket--detail__title{}
.ticket--detail__icon{}
.ticket--detail__info{}
.ticket--detail__price-total{}
.ticket--detail__button{}
